@import '~office-ui-fabric-react/dist/sass/References.scss';
@import "../../../../scss/Index.module.scss";

.CancelarSolicitud {
    font-family: DIN, Arial, sans-serif !important;
    @include ms-fontSize-14;
    cursor: pointer;
    color: $ms-color-themeDarkAlt;

    &_Panel {
        @include Global;

        &_Body {
            padding: 20px;
        }
    }

}