@import '~office-ui-fabric-react/dist/sass/References.scss';
@import "../../../../scss/Index.module.scss";

.RechazarSolicitud {
    display: inline-block;
    font-family: 'DIN', Arial, sans-serif;

    &_Panel {
        @include Global;

        &_Form {
            @include Input;
            padding: 20px;
        }
    }

    &_ButtonRed {
        background-color: $ms-color-red;
        margin-right: 10px;

        &:hover,
        &:active {
            background-color: #ff5d6a;
        }
    }
}

:global(.ms-Label) {
    &::after {
        color: red;
        font-weight: 600;
    }
}