@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';
@import "../../../../scss/Index.module.scss";

.Panel {
  @include Global;
}

.Form {
  width: 100%;
  font-family: 'DIN', Arial, sans-serif;

  &_Titles {
    @include ms-Grid;

    &_Cont {
      @include ms-Grid-row;

      &_Line {
        position: relative;

        &:after {
          content: "";
          width: 0;
          height: 100%;
          display: none;
          position: absolute;
          border-left: 1px solid #106ebe;
          top: 0;
          left: 8.3%;
          display: none !important;

          @include ms-screen-md-up {
            display: none !important;
          }

          @include ms-screen-lg-up {
            display: block !important;
          }
        }

        &_Stepper {
          @include ms-Grid-row;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 0;

          &:first-of-type {
            .Form_Titles_Cont_Line_Stepper_Step_Box,
            .Form_Titles_Cont_Line_Stepper_Title_Text {
              margin-top: 30px;
            }
          }

          &_Step {
            position: relative;
            z-index: 2000;
            background-color: #fff;
            @include ms-Grid-col;
            display: none;

            @include ms-screen-md-up {
              display: none;
            }

            @include ms-screen-lg-up {
              @include ms-Grid-col;
              @include ms-md2;
              @include ms-xl2;
              display: block;
            }

            &_Box {
              margin: 0 auto;
              background-color: $ms-color-themeDarkAlt;
              width: 46px;
              height: 46px;
              border-radius: 50px;
              text-align: center;
              display: flex;
              justify-content: center;
              align-items: center;
              align-content: center;
              z-index: 300;

              &_Text {
                @include ms-fontSize-20;
                font-weight: 300;
                color: #fff;
              }
            }

          }

          &_Title {
            @include ms-Grid-col;
            @include ms-sm12;
            @include ms-lg10;
            position: relative;
            z-index: 2000;
            background-color: #fff;

            &_Text {
              color: $ms-color-themeDarkAlt;
              font-weight: 400;
              @include ms-fontSize-20;
            }
          }
        }
      }
    }

    &_Inputs {
      @include ms-Grid-col;
      @include ms-sm12;
      @include Input;
      margin-bottom: 35px;

      &_Label {
        @include Input;
        margin: 11px 0 !important;
        color: $ms-color-neutralTertiary !important;
      }

      &_Checkbox {
        @include Checkbox;
      }

      @include ms-screen-md-up {
        @include ms-sm12;
      }

      @include ms-screen-lg-up {
        @include ms-md10;
        @include ms-smPush2;
      }
    }
  }

  &_Time {
    @include ms-Grid;
    padding: 0;

    &_Duration {
      @include ms-Grid-row;

      &_Lapse {
        @include ms-Grid-col;
        @include ms-sm12;
        @include Input;
      }

      &_Coin {
        @include ms-Grid-col;
        @include ms-sm12;
        @include ms-lg6;
        @include Input;
      }

      &_Value {
        @include ms-Grid-col;
        @include ms-sm12;
        @include ms-lg6;
        @include Input;
      }
    }
  }

  &_Objetivo {
    @include ms-Grid;

    &_Container {
      @include ms-Grid-row;

      &_Description {
        @include ms-Grid-col;
        @include ms-sm12;
        padding: 0;
      }
    }
  }
}

:global(.ms-Label) {
  &::after {
    color: red;
    font-weight: 600;
  }
}