@import '~office-ui-fabric-react/dist/sass/References.scss';
@import "../../../scss/Index.module.scss";

.Home {
  margin: 0;

  &_Container {
    @include Container;
  }

  &_Row {
    @include ms-Grid-row;

    &_ColLeft {
      @include ms-Grid-col;
      @include ms-sm12;
      @include ms-xl7;
      @include ms-xxl6;
    }

    &_ColRight {
      @include ms-Grid-col;
      @include ms-sm12;
      @include ms-xl5;
      @include ms-xxl6;
    }
  }

}

// ESTILOS COMPONENTE RECORDATORIO

.contenedorRecordatorio {
  @include ms-Grid-col;
  @include ms-sm12;
  padding: 15px 7px 30px;
}

@include ms-screen-lg-up {
  padding: 30px 0 30px;
}

@include ms-screen-xl-up {
  .contenedorRecordatorio {
    padding: 420px 0 30px;
  }
}

@include ms-screen-xxl-up {
  .contenedorRecordatorio {
    padding: 515px 0 30px 90px;
  }
}