@import '~office-ui-fabric-react/dist/sass/References.scss';
@import "../../../../scss/Index.module.scss";

.CargarCertificado {
    margin-top: 20px;

    &_Panel {
        @include Global;

        &_Form {
            @include Input;
            padding: 20px;
        }
    }

    &_CommanBar {
        margin: 5px 0;
    }

    @include ms-screen-sm-down {
        &_Button {
            width: 100%;
        }
    }
}

:global(.ms-Label) {
    &::after {
        color: red;
        font-weight: 600;
    }
}