@import '~office-ui-fabric-react/dist/sass/References.scss';
@import "../../../../scss/Index.module.scss";

.CustomUserTitle {
    &_Row {
        @include ms-Grid-row;

        &_Title {
            @include ms-Grid-col;
			@include ms-sm12;
			color: $ms-color-black;

            &_Text {
                @include ms-fontSize-42;
                font-weight: 300;
				margin-bottom: 30px;
				text-transform: capitalize;
				&_Strong {
					font-weight: 400;
				}
            }

            &_Description {
				@include ms-fontSize-28;
				font-weight: 300;
				margin: 15px 0;
            }
		}
		
		@include ms-screen-xxl-up {
            &_Title {

                &_Text {
					font-size: 56px;
					margin-bottom: 50px;
                }
    
                &_Description {
					@include ms-fontSize-32;
					margin: 20px 0;
                }
            }
        }

        @include ms-screen-sm-down {
            &_Title {
                padding: 0 15px;

                &_Text {
					@include ms-fontSize-32;
                }

                &_Description {
                    @include ms-fontSize-24;
                }
            }
        }
    }
}