@import '~office-ui-fabric-react/dist/sass/References.scss';
@import "../../../../scss/Index.module.scss";

.User{
	font-family: DIN,Arial,sans-serif!important;
	  @include ms-fontSize-14;
	  cursor: pointer;
	  color: $ms-color-themeDarkAlt;
	  &_Panel{
		  text-align: inherit;
		  @include Global;
	  }
	
	&_SelectUser {
		width: 100%;
		font-family: 'DIN', Arial, sans-serif;
		padding: 20px;
		@include Input;
	}
}